<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label "Customer" %><br>
      <%= f.collection_select(:account_id, Account.all, :id, :name) %>


    </div>
  <div class="field">
    <%= f.label "Quote Name:" %><br>
    <%= f.text_field :projectName %>
  </div>
    <div class="field">
      <%= f.label "SAP Quote Number:" %><br>
      <%= f.text_field :sapCode %>
    </div>


    <%= f.hidden_field :version, :value => 1 %>

  <div class="field">
    <%= f.label "Document Type" %><br>
    <%= f.text_field :documentType %>
  </div>
  <div class="field">
    <%= f.label :market %><br>
    <%= f.text_field :market %>
  </div>
  <div class="field">
    <%= f.label "Rand Dollar Exhange Rate" %><br>
    <%= f.number_field :randDollar %>
  </div>
  <div class="field">
    <%= f.label "Rand Pound Exhange Rate" %><br>
    <%= f.number_field :randPound %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label "Contact Person:" %><br>
    <%= f.text_field :contactPerson %>
  </div>
  <div class="field">
    <%= f.label "Contact Numer" %><br>
    <%= f.text_field :contactNumber %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
    <%= f.hidden_field :flag, :value => 1 %>

  <div class="actions">
    <%= f.submit "Save Quote" %>
  </div>
<% end %>
<script>
    function account() {
        $(".modal-body").html("<%= escape_javascript(render 'accounts/form') %>");
        $("#myModalLabel").html("Add New Customer");

    }
</script>
