<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Projectname</th>
      <th>Version</th>
      <th>Documenttype</th>
      <th>Market</th>
      <th>Randdollar</th>
      <th>Randpound</th>
      <th>Address</th>
      <th>Contactperson</th>
      <th>Contactnumber</th>
      <th>Notes</th>
      <th>Flag</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.account_id %></td>
        <td><%= project.projectName %></td>
        <td><%= project.version %></td>
        <td><%= project.documentType %></td>
        <td><%= project.market %></td>
        <td><%= project.randDollar %></td>
        <td><%= project.randPound %></td>
        <td><%= project.address %></td>
        <td><%= project.contactPerson %></td>
        <td><%= project.contactNumber %></td>
        <td><%= project.notes %></td>
        <td><%= project.flag %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
