<h1>Listing projects</h1>
<div class="row">
<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Name</th>
      <th>Version</th>
      <th>Description</th>
      <th>Documenttype</th>
      <th>Market</th>
      <th>Startdate</th>
      <th>Followup</th>
      <th>Pricelist</th>
      <th>Projectstage</th>
      <th>T</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
</div>

  <tbody>
    <% @projects.each do |project| %>
      <div class="row">
      <tr>
        <td><%= project.customer %></td>
        <td><%= project.name %></td>
        <td><%= project.version %></td>
        <td><%= project.description %></td>
        <td><%= project.documentType %></td>
        <td><%= project.market %></td>
        <td><%= project.startDate %></td>
        <td><%= project.followUp %></td>
        <td><%= project.pricelist %></td>
        <td><%= project.projectStage %></td>
        <td><%= project.T %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
