<h1>Listing copysubs</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Subsection</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @copysubs.each do |copysub| %>
      <tr>
        <td><%= copysub.section_id %></td>
        <td><%= copysub.subsection_id %></td>
        <td><%= copysub.name %></td>
        <td><%= copysub.description %></td>
        <td><%= link_to 'Show', copysub %></td>
        <td><%= link_to 'Edit', edit_copysub_path(copysub) %></td>
        <td><%= link_to 'Destroy', copysub, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Copysub', new_copysub_path %>
