<h1>Listing installs</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Sku</th>
      <th>Category</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @installs.each do |install| %>
      <tr>
        <td><%= install.image %></td>
        <td><%= install.title %></td>
        <td><%= install.sku %></td>
        <td><%= install.category %></td>
        <td><%= install.price %></td>
        <td><%= install.quantity %></td>
        <td><%= install.description %></td>
        <td><%= link_to 'Show', install %></td>
        <td><%= link_to 'Edit', edit_install_path(install) %></td>
        <td><%= link_to 'Destroy', install, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Install', new_install_path %>
