
<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :user_id %>
  <div class="field">
    <%= f.label "Customer NAme:" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Phone Number:" %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label "Email Address:" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Physical Address:" %><br>
    <%= f.text_field :address, :onFocus=>"javascript:geolocate();"  %>
  </div>
  <div class="field">
    <%= f.label "Vat Number:" %><br>
    <%= f.text_field :vat %>
  </div>
  <div class="actions">
    <%= f.submit "Save Customer" %>
  </div>

<% end %>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script>

    var placeSearch, autocomplete;
    $(document).ready(function($) {


        autocomplete = new google.maps.places.Autocomplete(
                /** @type {HTMLInputElement} */(document.getElementById('account_address')),
                {types: ['geocode']});

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            fillInAddress();
        });



    });
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = new google.maps.LatLng(
                        position.coords.latitude, position.coords.longitude);
                autocomplete.setBounds(new google.maps.LatLngBounds(geolocation,
                        geolocation));
            });
        }
    };


    // [END region_geolocation]

</script>