<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :sku %><br>
    <%= f.text_field :sku %>
  </div>
  <div class="field">
    <%= f.label :catagory %><br>
    <%= f.text_field :catagory %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :subdescription %><br>
    <%= f.text_field :subdescription %>
  </div>
    <div class="field">
      <h4 style="font-weight:bold;">Select section to add products to: </h4>
      <div class="field">

        <%  Section.all.each do |section|   %>
            <% for subsection in section.subsections %>
                <%  if section.project_id == @project.id %>
                    <%= check_box_tag "product[subsection_ids][]", subsection.id, @product.subsection_ids.include?(subsection.id), id: dom_id(subsection) %>
                    <%= label_tag dom_id(subsection), subsection.name %><br>
                <%  else %>
                <% end %>
            <% end %>
        <% end %>

      </div>
      <input type="checkbox" id="checkAll"/>
      <label for="select_all">Check all sections</label>
      <div class="actions">
        <%= f.submit  "Add Product" %>
      </div>
    </div>

<% end %>
</div>
