<p id="notice"><%= notice %></p>

<p>
  <strong>Subsection:</strong>
  <%= @product.subsection_id %>
</p>

<p>
  <%= image_tag(@product.image, :width => 200) if @product.image.present? %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Range:</strong>
  <%= @product.range %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
