<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @global.section_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @global.name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @global.section %>
</p>

<p>
  <strong>Subsection:</strong>
  <%= @global.subsection %>
</p>

<p>
  <strong>Image:</strong>
  <%= @global.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @global.title %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @global.sku %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @global.quantity %>
</p>

<p>
  <strong>Name:</strong>
  <%= @global.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @global.description %>
</p>

<p>
  <strong>Subdecription:</strong>
  <%= @global.subdecription %>
</p>

<p>
  <strong>Price:</strong>
  <%= @global.price %>
</p>

<%= link_to 'Edit', edit_global_path(@global) %> |
<%= link_to 'Back', globals_path %>
