<%= form_for(subsections, remote: false) do |f| %>
  <% if subsections.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subsections.errors.count, "error") %> prohibited this subsection from being saved:</h2>

      <ul>
      <% subsections.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :section_id %><br>
      <%= f.collection_select(:section_id, Section.where(project_id: @project.id), :id, :name) %>
    </div>
  <div class="field">
    <%= f.label 'Subsection Name' %><br>
    <%= f.text_field :name %><p>E.g. Bathroom</p>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
