<style>
    .panel-default {
        margin-bottom: 0px;
        padding-bottom: 0px;
        /* padding-bottom: 80px; */
    }
    .plusright {float: right;padding-right: 10px;}
    .minright {float: right;padding-right: 10px;}
        .title {background-color: #888888;height: 40px;border-radius: 8px;
            color: #ffffff;padding-left: 15px; padding-top: 8px;font-size: 22px;margin:1px 1px ;}
 </style>
 <div class="row-fluid">




<div class="container theme-showcase" role="main">

  <div class="page-header">
    <h1>Customers  <a href="/data/one"  style="float:right;" class="btn btn-md btn-info white">
      <i class="fa fa-plus"></i>New Quote</a></h1>


  </div>

  <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
        <ul>
          <% @project.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <% growlyflash_static_notices %>

</div>
   <%= form_tag(welcome_index_path, :method => "get", id: "accounts_search") do %>
       <p>
         <%= text_field_tag :search,params[:search],placeholder: "Search Accounts" ,style:"width: 80%;border-radius: 4px;height:40px;margin-bottom:20px;font-size: 20px; " %>
         <%= submit_tag "Search" %>
       </p>

   <% end %>



<div class="row">
     <%  @accounts.each do |account|   %>
       <div class="col-md-6">
          <h5 class="title"><%= account.name %><span class="plusright"><i class="fa fa-plus-circle"></i></span><span class="minright "><i class="fa fa-minus-circle"></i></span></h5>
         <div class="mypanel well">
           <ul style="padding:0 0;">
             <% for project in account.projects %>
                 <li><%= link_to project.projectName, project_path(project) %></li>
             <% end %>
           </ul>
         </div>
       </div>

    <% end %>
   </div>
 </div>
<script>
    $('.mypanel').hide();
    $('.minright').hide();
    $(document).ready(function(e){
        $('.title').click(function (e){
            if($(this).next('.mypanel').css('display') != 'block'){


                $('.active').slideUp('100').removeClass('active');
                $(this).next('.mypanel').addClass('active').slideDown('slow');
            } else {
                $('.active').slideUp('100').removeClass('active');

            }
        });
    });


</script>



</div> <!-- /container -->