<%= form_for(@section, remote: false) do |f| %>
    <% if @section.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

          <ul>
            <% @section.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label "Section Name:" %> <br>
      <%= f.text_field :name %><p>E.g. First Floor</p>
    </div>
    <div class="field">
      <%= f.label "Description:" %><br>
      <%= f.text_field :description %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
